# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment folder
venv/

# Ignore SQLite database file (if using SQLite)
*.sqlite3

# Ignore IDE/Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Django migration files
**/migrations/

# Ignore local settings file
local_settings.py

# Ignore any other sensitive or environment-specific files
*.env
# Ignore media files (user-uploaded content)
/media/